@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: #242320;
}

body {
  color: var(--black);
  background: var(--white);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  background: #b9b8b7;
}

.swiper-pagination-bullet-active {
  background: #565655;
} */

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #f2f1ed;
  border-radius: 4px;
  line-height: 1.125em;
}

abbr:where([title]) {
  text-decoration: none;
}

.react-calendar__tile--active {
  background: #794f34 !important;
  color: white;
  border-radius: 12px;
}

.react-calendar__month-view__days__day--weekend {
  color: #d8ab83 !important;
}
.react-calendar__tile--now {
  background: #fff !important;
  color: #794f34 !important;
}
